body {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  min-height: 600px;
  background: linear-gradient(to top, #8e2de2, #4a00e0); 
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 20px 0;
  padding: 6px;
  border-radius: 5px;
  font-size: 18px;
  color: #3f3f3f;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 300px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

button.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 12px 0;
  width: 155px;
  height: 45px;
  padding: 8px 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 3px #ffffff solid;
  transition: 0.3s;
  cursor: pointer;

}

button:hover {
  background-color: #4a00e0;
  border: none;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}
